[2020-08-24 18:04] tarunnsingh opened #1 "Design Needed (Call for UI/UX developers) - Create Wireframes."
### We need a stunning design for our website.
If you want to design some website or you are looking for a new open source project we would love to see your creativity.
Here are some inspirational design that we look forward too. [Voice First Tech Website](https://voicefirsttech.com/)

_Open to suggestions, leave them in the reply._

- [ ] Think of Amazon Alexa.
- [ ] Design keeping in mind the Am

[2020-08-24 18:12] tarunnsingh opened #2 "Create a Markdown Editor in ReactJS."
### Our client side needs to be much more sophisticated and functional.
We create Alexa Development blogs for the community. As of now member write these blogs in separate markdown files which are then sent via the Node server to the client, and React parses down the MD and shows up a blog. We require a functionality where we can write text in markdown inside the web browser itself and on submitti

[2020-08-24 18:16] tarunnsingh opened #3 "Improve the Docs."
Modify the README with proper Syntax and Emojis.
Make sure you do not delete any content.

[2020-08-24 18:18] imabp opened #4 "Code Background to be based on Alexa Scheme"
Current code background is not according to Alexa Scheme, so there is a need to convert it into more beautiful and aesthetic code background, as shown below:
### Proposed Scheme for code

![image](https://user-images.githubusercontent.com/53480076/91080904-01d3d780-e664-11ea-976e-6da50f55d1e4.png)

[2020-08-25 06:10] sumanthst24 commented on #3
What syntax do we need to change in readme file?

[2020-08-25 06:16] imabp opened #7 "Adding Contributors in Sidebar."
## Adding contributors section in sidebar using GitHub API.

![image](https://user-images.githubusercontent.com/53480076/91127889-cb7a7480-e6c4-11ea-8b51-2da05e5c0d7e.png)

[2020-08-25 06:28] #4 closed, assigned to nobody

[2020-08-25 06:45] tarunnsingh commented on #3
Nothing particular for the Syntax, but if you could add some helpful links (React-Docs etc.) an Index, some good illustrations, badges and more.
Sole purpose of this issue is for beginners to start contributing to open source in any manner.

[2020-08-25 06:53] tarunnsingh commented on #7
@imabp Are you working on this?

[2020-08-25 06:54] imabp commented on #7
Yes I am planning to work on it.

[2020-08-25 06:58] imabp commented on #7
Can you provide me with, some keys so that I can set things up . I am facing this error on running the server:

![image](https://user-images.githubusercontent.com/53480076/91142463-6e83bc00-e6ce-11ea-9ccf-c3ccdd2b4b56.png)

[2020-08-25 07:26] tarunnsingh commented on #7
The keys are being used on the production server. Here you can use MONGO local URL or create your own MONGO URL via Mongo Cloud.
On Mongo DB Cloud connect your cluster to an application. A sample URI:
```mongodb+srv://<username>:<password>@ecomerce-website.qfwmi.mongodb.net/<dbname>?retryWrites=true&w=majority```

![SS](https://user-images.githubusercontent.com/31896659/91144850-354d4b00-e6d2-11ea

[2020-08-25 07:41] tarunnsingh commented on #7
Added in [README](https://github.com/alexa-dev-hub/alexa-community-jaipur/commit/033ce88c9717663085f7826f5b1bc37e74493d2e).

[2020-08-25 12:45] sumanthst24 commented on #3
I'll work on it if assigned

[2020-09-01 17:45] sumanthst24 commented on #3
Can I also include the stats for the repo like number of pull requests and issues ?

[2020-09-01 18:56] tarunnsingh commented on #3
Ye Sure, that would be great!

[2020-09-02 18:30] sumanthst24 opened #8 "Add License to the repository"

[2020-09-02 19:09] sumanthst24 commented on #3
https://github.com/alexa-dev-hub/alexa-community-jaipur/pull/9
Created pull request to this issue

[2020-09-03 06:02] sumanthst24 commented on #8
I am thinking to add MIT License
Are there any suggestions regarding?

[2020-09-03 06:03] tarunnsingh commented on #3
#9
I am closing the issue now, good work @sumanthst24

[2020-09-03 06:03] #3 closed, assigned to sumanthst24

[2020-09-03 06:04] sumanthst24 commented on #3
Thank you @tarunnsingh

[2020-09-03 06:07] tarunnsingh commented on #8
MIT license is suitable, go for it.

[2020-09-03 06:08] sumanthst24 commented on #8
Okay sure
I'll also update the readme file with the license info as well

[2020-09-03 06:10] tarunnsingh commented on #8
Sure

[2020-09-03 10:47] sumanthst24 commented on #8
https://github.com/alexa-dev-hub/alexa-community-jaipur/pull/10
created a PR

[2020-09-03 18:21] sumanthst24 commented on #8
As the PR is merged I am closing this issue

[2020-09-03 18:21] #8 closed, assigned to sumanthst24

[2020-09-09 18:21] imabp commented on #7
@tarunnsingh I have added the contributors section and tested it too, its working fine.
**Update: I have also restricted the BOT entry in contributors section**
## Please review #12
![image](https://user-images.githubusercontent.com/53480076/92638164-81fe6c00-f2f7-11ea-9683-4d03f9234a92.png)

[2020-09-09 18:31] imabp opened #13 "Code Sample OverFlow in Mobile View"
## Overflow of code sample

![image](https://user-images.githubusercontent.com/53480076/92638903-ad358b00-f2f8-11ea-90b3-c46ba6c83472.png)

## Solution
adding `overflow: scroll;` to code class in custom css

[2020-09-09 18:38] imabp commented on #13
@tarunnsingh Issue solved in the ongoing pull request #12
### Steps Taken
in `src/index.css` set `overflow` to `scroll`

#Final View
![Scroll](https://user-images.githubusercontent.com/53480076/92639551-97749580-f2f9-11ea-8d72-ea6bf2923bdd.gif)

[2020-09-10 10:16] tarunnsingh commented on #7
Merged your PR #12

Closing now.

[2020-09-10 10:17] tarunnsingh commented on #13
Closing since it's done now.

[2020-09-10 10:17] #13 closed, assigned to nobody

[2020-09-10 10:23] tarunnsingh opened #14 "Links in sidebar not styled"
**The links in the sidebar are not styled as hyperlinks.**
- Should be blue in color.
- Cursor should change on hover.

**_See this SS._**
![image](https://user-images.githubusercontent.com/31896659/92717177-6ccc2080-f37d-11ea-8c92-dfa39233d802.png)

[2020-09-10 10:28] tarunnsingh commented on #7
Just noticed that on clicking the usernames of contributors, the api json opens up. Slight change in the URL is required.

[2020-09-10 10:35] imabp commented on #7
@tarunnsingh are you working on it ?

[2020-09-10 10:37] tarunnsingh commented on #7
That's done Now, with the latest commit to master.

[2020-09-10 10:37] #7 closed, assigned to tarunnsingh, imabp

[2020-09-27 21:33] priyanshu0405 commented on #14
Hey @tarunnsingh, can I take this issue? Thanks!!

[2020-09-28 04:33] tarunnsingh commented on #14
Yes Sure @priyanshu0405 go ahead.

[2020-09-28 05:51] sumanthst24 opened #15 "Add the list of contributors in the readme.md file"
List out all the contributors to this repository and auto-add all the contributors
Go through this https://github.com/all-contributors/all-contributors for more information

[2020-09-28 06:33] Tushar11Raj commented on #15
Can I do this?

[2020-09-28 06:42] hariom1625 commented on #15
Hey, I can help you in implementing this once you assign it to me but before that, i will need to know you want this to be added using ```npm package``` or ```all-contributors bot``` can add using both.

[2020-09-28 07:29] tarunnsingh commented on #15
@hariom1625 We would encourage you to use npm package.
We need that list to be in the README, so it's upto you whatever you would like to use.
Shall I assign you on this?

[2020-09-28 07:56] hariom1625 commented on #15
Yeah sure :-)
But before starting I need you to know that this package doesn't automatically add the new contributors to the list,
for updating, there are two ways one using CLI and other using Bot, So from my experience what I would suggest is that to configure the package using CLI in order to add the contributors who have already contributed till now and after that enabling the Bot to keep upda

[2020-09-28 08:18] tarunnsingh commented on #15
Alright! That sounds good. Waiting for the Details.
Assigned.

[2020-09-28 08:18] tarunnsingh commented on #15
Hey @Tushar11Raj What approach did you for this issue?

[2020-09-28 08:44] hariom1625 commented on #15
Since this issue is labeled under the Hactoberfest I will make the PR once the event starts :-)

[2020-09-28 09:07] tarunnsingh commented on #15
Okay Cool!

[2020-09-28 11:50] Tushar11Raj commented on #15
I will be using allcontributors bot for this. You will have to comment ont the pull request in the following way:
`@all-contributors please add <username> for <contributions>`
but this will also work:
`Jane you are crushing it in documentation and your infrastructure work has been great too. Let's add jane.doe23 for her contributions. cc @all-contributors`

[2020-09-28 16:14] tarunnsingh commented on #15
I got your point @Tushar11Raj . Since I've already assigned it, and a similar workout would be done, you can keep track of this issue and make any suggestions or changes once PRs are merged.

[2020-10-01 07:40] tarunnsingh opened #19 "Create/Design a LOGO"
### Current Website Heading is a Simple/Boring Text 🔽
![image](https://user-images.githubusercontent.com/31896659/94781331-4bdc7580-03e7-11eb-86f4-46ab21e3390e.png)

### Need to create Something like  ➡️ [THIS](https://codepen.io/mallendeo/pen/xVXrYR) ⬅️ .
#### OR come up with your Suggestions and Creative Ideas. 😄

[2020-10-01 07:43] TheGiraffe commented on #19
Could I try this one?

[2020-10-01 07:46] tarunnsingh commented on #19
Hey @TheGiraffe Would you be implementing the logo on the website or will add a separate logo file?

[2020-10-01 07:48] TheGiraffe commented on #19
Will be a separate logo file, or maybe even a link on CodePen first so that you can take a look at it and see if it is good.

[2020-10-01 07:51] tarunnsingh opened #20 "Header Redesign - Material UI"
The Current header design needs a **Fresher Look**. Come up with your creativity and be a part of the Alexa Community Jaipur Developers.

_Before asking for assigning the issue, make sure you are able to run the project locally. If you face any errors, comment down._ 😄

[2020-10-01 07:51] tarunnsingh commented on #19
Perfect! Shall I assign you?

[2020-10-01 07:59] TheGiraffe commented on #19
Yes, please! Thank you :)

[2020-10-01 07:59] ManojAthreya commented on #19
Hey @tarunnsingh  can I try on this

[2020-10-01 08:02] tarunnsingh commented on #19
Sure, @ManojAthreya give it a try.

[2020-10-01 08:37] EnechukwuChibuike commented on #20
Can I do that?

[2020-10-01 08:37] dkapur17 opened #21 "Syntax Error in Sidebar.js Breaks Compilation"
Minor syntax error in `Sidebar.js` causes compilation error:

![image](https://user-images.githubusercontent.com/37783178/94786944-3cf9c100-03ef-11eb-9648-a639b18614b6.png)

Simple enough fix: Add an extra `}` to line 24.

[2020-10-01 08:45] tarunnsingh commented on #20
Sure, were you able to run the project locally without any errors?

[2020-10-01 08:51] #21 closed, assigned to nobody

[2020-10-01 09:01] dkapur17 opened #23 "Adding Concurrent dev run Feature"
Currently, to run the app in dev you need to perform the following sequence of commands:

[code]

This can be reduced to a single command using the `concurrently` package. Its a minor change, but makes workflow all that simpler.

Would like to add this feature.

[2020-10-01 09:07] tarunnsingh commented on #23
That would be great, was going to put up this issue.

[2020-10-01 09:29] dkapur17 commented on #23
@tarunnsingh made the required PR (#24)

[2020-10-01 10:02] harshalkaigaonkar commented on #20
is it open?

[2020-10-01 11:12] tarunnsingh commented on #23
Great thanks! @dkapur17

[2020-10-01 11:12] #23 closed, assigned to dkapur17

[2020-10-01 11:20] tarunnsingh commented on #20
Yes @harshalkaigaonkar it is open. Would you like to work?

[2020-10-01 14:32] #15 closed, assigned to hariom1625

[2020-10-01 14:32] #14 closed, assigned to priyanshu0405

[2020-10-01 15:11] lakshit123456789 commented on #19
i want to do work with you please tell me i am interested
reply me if you want my help

[2020-10-02 06:53] tarunnsingh commented on #19
@TheGiraffe are you working on this?

[2020-10-02 06:53] tarunnsingh commented on #19
Already two people assigned on this.

[2020-10-03 06:16] harshalkaigaonkar commented on #20
@tarunnsingh yes!!

[2020-10-03 07:06] hafeezulkareem commented on #2
@tarunnsingh I would like to work on it.

[2020-10-03 12:50] harshalkaigaonkar commented on #20
I want to ask that is there more buttons or functions do we need on the header?

[2020-10-03 14:35] tarunnsingh commented on #20
We would need a Drop Down button for Blogs and a Logout button only as of now.
Thanks!

[2020-10-03 14:51] imabp opened #31 "Deployment to Netlify"
**Site loading time is slow**
We can avoid this, by deploying it to netlify, and can see deploy previews for each pull request and it will be more helpful for the maintainers to review and see the output of code for each pull request, without worrying about the main production website.

[2020-10-03 15:47] harshalkaigaonkar commented on #20
Yeah okay!

[2020-10-03 17:02] tarunnsingh commented on #20
If you want to add more functions, you are always welcome.
Or if not now then later on I'd put more issue on any such requirements and assign them to you.
As making a successfull PR on this issue, you'd be a part of contributors.

[2020-10-03 17:04] tarunnsingh commented on #31
I was thinking of doing so, but the thing is we have shared this website link at many places (*...herokuapp.com*), which would then need to be replaced everywhere. Although we can work on replacing them too.

[2020-10-03 17:20] tarunnsingh commented on #31
Can the current Heroku Deployment be altered to respond faster, maybe increasing Dynos. But that again can't be done in Heroku Free tier. 😞

[2020-10-03 17:51] imabp commented on #31
@tarunnsingh I have a solution for it, lets do this thing..

### Lets create a branch name `v1-deployment` and we will set in heroku that deploy this branch.
Now in `v1-deployment`, what we will do, we will not load the complete site. Instead we will mention, in the homepage itself, that we have upgraded to V2 website, check here.
and below that there would be a link

### Next Step
We will update

[2020-10-03 18:24] tarunnsingh commented on #31
**Hey that's absolutely perfect solution to the problem.
Let's do this.**
And sure, would be great to have a collaboration! 😄

[2020-10-03 18:38] imabp commented on #31
Thankyou @tarunnsingh  . I am obliged.
Would you like to assign me as member in this org. So that I can directly setup this remote repo, in my local env.
And work faster ?

[2020-10-03 18:42] imabp opened #32 "Remove Hardcode"
@tarunnsingh I saw the core codebase.

**I found out that links are hardcoded.**

Lets make a links.jsx module file and put all the links there with appropriate link names and export it.

And import it, wherever we want to add links.

This would be better approach, because, if sometime later, any links or any link to social account is changed, we need to just replace it at one place. And changes w

[2020-10-03 18:49] TheGiraffe commented on #19
Not sure if this is still useful, however, if you are still looking for an animated logo...

What do you think of this?
https://codepen.io/sophiarobots/pen/LYNwLZm

Sorry for the delay in getting back to you, I am based in Hawai'i so I am always behind in terms of time zone. 😬

[2020-10-03 19:05] imabp commented on #31
Checklist  @tarunnsingh , we can follow.
- [x] Create `v1-deployment` branch.
- [x] Deploy `v1-deployment` branch to heroku.
- [x] Deploy `master` branch to netlify.
- [ ] Update `v1-deployment` branch codebase, to above shown image.
- [x] Remove hardcode from `master` as referenced in issue #32
- [ ] All done. Lets work on other issues.

[2020-10-03 19:20] tarunnsingh commented on #19
Hey @TheGiraffe This is so Cool! 😄
No issue, with being a bit late.

Just a small update, could you please render this in **'Amazon Ember Regular'** font which is the official **Amazon Alexa Font**. You can find it [here](https://www.onlinewebfonts.com/download/02fcddff61b677f4989d2933d574ca89) or anywhere else. Keep it in all lowercase. With these changes, something like this ⏬  would work out, a

[2020-10-03 19:22] tarunnsingh commented on #31
Sure sending you the invite.

[2020-10-03 19:49] TheGiraffe commented on #19
Link above should be updated with the new font, it looks like it loaded properly. I believe the link you sent me was for the Bold version of the font, which looked like this when I added it:
<img width="795" alt="Screen Shot 2020-10-03 at 9 46 00 AM" src="https://user-images.githubusercontent.com/4595588/95000549-80723d80-055d-11eb-8b7c-a17df943e909.png">
But then I searched around for the regular

[2020-10-03 19:51] imabp commented on #31
@tarunnsingh
You can refer this to setup build environment variables in Netlify
https://docs.netlify.com/configure-builds/environment-variables/

[2020-10-03 19:51] imabp commented on #31
there has to follow particular setup for builds.. so be careful while setting up that

[2020-10-04 02:09] tarunnsingh commented on #19
Please keep the Regular font and not the bold one.

[2020-10-04 02:33] TheGiraffe commented on #19
https://codepen.io/sophiarobots/pen/LYNwLZm

Regular font should be live on the CodePen. :)

[2020-10-04 03:00] tarunnsingh commented on #31
Hey do we need to deploy client and server separately to Netlify?

[2020-10-04 05:32] imabp commented on #31
on Netlify we can deploy the whole client.
on heroku, we are deploying the backend.

We need to do api calling through the herokuapp link.

[2020-10-04 05:33] imabp commented on #31
@tarunnsingh netlify is super amazing for client side.

[2020-10-04 05:34] imabp commented on #31
@tarunnsingh though I accepted the invite, but still I dont have write access to any repository. 🙁

[2020-10-04 05:40] harshalkaigaonkar commented on #20
is the Login State is created?

[2020-10-04 06:19] imabp commented on #31
@tarunnsingh I have deployed my fork to netlify, see here : https://alexajaipurforked.netlify.app/

![image](https://user-images.githubusercontent.com/53480076/95008467-c13e8500-0637-11eb-8165-3083cae9efa6.png)

[2020-10-04 06:44] imabp commented on #31
@tarunnsingh I was thinking to host the backend at heroku, and use it as core backend only.
And on netlify will be our front end .

Why?
In heroku, everytime, we send the request, heroku also has to render frontend, this makes it slower, because, it has to handle both the activities, backend+ frontend.
Decoupling frontend and backend will help to achieve things easily.

[2020-10-04 08:13] imabp commented on #31
@tarunnsingh Heroku also setup using CORS API
You can check my forked version of site here: https://alexajaipurforked.netlify.app/

In this above site, I am using alexadevhub heroku api for fetching blog posts

Sending you PR to the master branch.

[2020-10-04 08:54] imabp commented on #31
@tarunnsingh Tell me when you publish this repo to netlify.
I will send PR for `v1-deployment` then only with requested changes shown below
![94998299-85bba080-05ce-11eb-8190-80a46a3a3054](https://user-images.githubusercontent.com/53480076/95011312-5b5cf800-064d-11eb-99b7-68aa42c36254.png)

[2020-10-04 09:39] harshalkaigaonkar commented on #20
And What about the blog section?

[2020-10-04 09:41] tarunnsingh commented on #31
Sorry for this late response.
Looks like you've done the whole setup!
Great Merging your PR.

[2020-10-04 09:42] #31 closed, assigned to tarunnsingh, imabp

[2020-10-04 09:51] tarunnsingh commented on #20
We are working on Login, but it's not yet implemented.

[2020-10-04 09:53] tarunnsingh commented on #20
The current pages displays blogs on the first page itself, in future we'd separate this into different pages, for that we would require a blogs drop-down, the drop down menu would contain the different categories of blogs. As of now if a dummy implementation of the same (the drop-down) is required

[2020-10-04 10:03] imabp commented on #31
@tarunnsingh when are you deploying master to netlify ?

[2020-10-04 10:06] imabp commented on #31
I dont have owner rights, so I cant deploy from this original repo to netlify.
So can you pls @tarunnsingh deploy master to netlify, as everything is setup now?

[2020-10-04 10:07] imabp opened #35 "Master Deployment to Netlify"
`master` is not yet deployed to Netlify from this main repo.
@tarunnsingh
I suggest to create a netlify for this, with name as alexadevhub and deploy master branch.

Hence our netlify url would be, alexadevhub.netlify.app

Then we need to setup our build commnads in Netlify  by going to settings.

- Base Directory as `client`
- Build directory as `client/build`
- Build command as `npm run build`

[2020-10-04 10:12] tarunnsingh commented on #35
alexadevhub.netlify.app ya was doing the same

[2020-10-04 10:12] imabp commented on #35
Ohhk ya.

[2020-10-04 10:14] tarunnsingh commented on #35
Hey and the Heroku Backend is being used to fetch, I am not able to figuire out how you did it. Could you please explain  a bit. 😄

[2020-10-04 10:15] tarunnsingh commented on #35
Would be back on this tomorrow morning

[2020-10-04 10:17] harshalkaigaonkar commented on #20
just check the PR . And respond.

[2020-10-04 10:25] imabp commented on #35
Yes sure I am explaining @tarunnsingh
I saw, the whole backend and frontend is already hosted at Heroku
I deployed the frontend on Netlify, and backend is still there on Heroku.

I observed, you have made routes in backend for fetching posts like `/api/post` , something like that.
So I used fetch command to fetch from the heroku backend.
Now as per React Security thing, I need to use CORS , so I d

[2020-10-04 10:30] imabp opened #38 "Update Readme"
Readme should be updated, as we made super cool changes in the code while deploying to Netlify.

v1 deployment is used for backend purpose only (Hosted at heroku)
 master is used for frontend purpose only (Hosted on netlify)

[2020-10-04 10:32] imabp opened #39 "Remove the backend code from master."
As master is only responsbile for frontend,

We need to remove all unnecessary folders which were earlier used to host backend.

Only Client folder should not be deleted.

[2020-10-04 10:57] imabp commented on #35
Here is the pictorial view

Main advantage of this is, you can create, as many front ends as u want in future, and  you can still use the same backend for apis

![image](https://user-images.githubusercontent.com/53480076/95013515-5ce2ec00-065e-11eb-9b2e-e9a9ced05e0e.png)

[2020-10-05 04:24] harshalkaigaonkar commented on #20
whats the issue with the PR?

[2020-10-05 04:29] tarunnsingh commented on #20
Sorry for late response, I'll review your PR in a while.

[2020-10-05 05:51] imabp commented on #35
@tarunnsingh are you getting my concept ? 😅 If you have any doubts, do say

[2020-10-05 06:21] tarunnsingh commented on #35
Yes absolutely, I got them all. Actually I was reviewing the other PR now made as #43 which dosen't import the **LINKS** file which you created, I'm just looking onto it as it may break things in Header.js.

[2020-10-05 06:22] tarunnsingh commented on #35
Actually it was that CORS - Heroku thing, I didn't get at first, but your explanation cleared my doubt. Thanks @imabp !!!

[2020-10-05 06:24] #39 closed, assigned to nobody

[2020-10-05 06:28] #38 closed, assigned to nobody

[2020-10-05 06:45] tarunnsingh commented on #19
### Awesome 💯!
We would be utilizing your code-pen link to integrate it on the website. Please make sure you don't put that link down.
Thanks @TheGiraffe !!

[2020-10-05 06:45] tarunnsingh commented on #19
@all-contributors please add @TheGiraffe for design

[2020-10-05 06:47] tarunnsingh commented on #35
Closing Now since the work is done.

[2020-10-05 06:47] #35 closed, assigned to nobody

[2020-10-05 06:57] tarunnsingh opened #46 "Create A Login Page (Utilize Animated Logo)"
## 🆕 We are adding auth-system. We need a Login page and a Register Page.
### Make your changes to `master` branch and only in the client folder.
### Also show your creativity and make use of the New Animated Logo for the Website which is in **client/src/static/logo**

[2020-10-05 07:02] tarunnsingh commented on #32
Closing since Work is Done. Thank again @imabp

[2020-10-05 07:02] #32 closed, assigned to tarunnsingh, imabp

[2020-10-05 07:03] tarunnsingh commented on #20
Closing since Done.

[2020-10-05 07:03] #20 closed, assigned to harshalkaigaonkar

[2020-10-05 07:04] pawan-git7979 commented on #46
is it open , can i do it.

[2020-10-05 07:05] tarunnsingh commented on #46
Yes it is open, please first make sure you have Read the Docs and you are able to run the app locally.

[2020-10-05 07:07] pawan-git7979 commented on #46
okk.

[2020-10-05 07:09] imabp commented on #35
Ohh fine ! 😅

[2020-10-05 07:12] tarunnsingh opened #47 "Created a Loading GIF/Loader - Alexa Themed."
## Take reference from [this video](https://www.youtube.com/watch?v=UOEIH2l9z7c) (intial 0.00 to 0.05s).
### Or you may come up with your unique designs!

[2020-10-05 07:17] pawan-git7979 commented on #46
bro, i have clone the repo , but where is the config folder, i not able to find it.

[2020-10-05 07:21] tarunnsingh commented on #46
You must be on the master branch, now you need to go inside the `client` folder and run `npm start`. This runs the **frontend**, and **points to the backend api which is already hosted**, so you do not need to start the server at your end.

[2020-10-05 07:28] pawan-git7979 commented on #46
i am facing this issue.
![Screenshot from 2020-10-05 12-56-30](https://user-images.githubusercontent.com/63632573/95051215-78a3cc00-070a-11eb-8fb3-5a808835583b.png)

[2020-10-05 07:32] tarunnsingh commented on #46
`cd client`
`npm install` -> installs all dependencies and creates react-scripts.
`npm start` -> starts you scripts

Did you do this?

[2020-10-05 07:32] pawan-git7979 commented on #46
i also run npm install, then also this is showing the error.

[2020-10-05 07:33] tarunnsingh commented on #46
Okay let me see.

[2020-10-05 07:34] pawan-git7979 commented on #46
![Screenshot from 2020-10-05 13-04-07](https://user-images.githubusercontent.com/63632573/95051706-4d6dac80-070b-11eb-934f-04eba3709b18.png)

[2020-10-05 07:47] tarunnsingh commented on #46
### Your NPM version is outdated perhaps. Please [check here.](https://stackoverflow.com/questions/61484377/npm-install-no-optional-missing-required-argument). I tried it locally and works fine. If it dosent help revert here with your node and npm version.
`node -version` and `npm -version`

[2020-10-05 07:51] harshalkaigaonkar commented on #46
i can do it

[2020-10-05 07:56] tarunnsingh commented on #46
Hey @harshalkaigaonkar I have a new issue for you, if you would like to work on it?

[2020-10-05 07:58] tarunnsingh commented on #46
@pawan-git7979 make changes to master branch only, no need to work on auth-setup.

[2020-10-05 08:00] harshalkaigaonkar commented on #46
ya Sure!

[2020-10-05 08:01] tarunnsingh opened #50 "Use Animated Logo on Header."
A slight update to replace the current Static Logo of Alexa Dev Hub with the Animated Logo [HERE](https://codepen.io/sophiarobots/pen/LYNwLZm)

[2020-10-05 08:01] tarunnsingh commented on #50
@harshalkaigaonkar Would like to make this update?

[2020-10-05 08:03] tarunnsingh commented on #46
See #50

[2020-10-05 08:03] harshalkaigaonkar commented on #50
could you make it labeled as hacktoberfest

[2020-10-05 08:05] tarunnsingh commented on #50
**Sure would do that.**
But the **new Hacktoberfest 2020 Rules are as follows**:
[code]

[2020-10-05 08:05] harshalkaigaonkar commented on #50
yeah i'll do that

[2020-10-05 08:11] harshalkaigaonkar commented on #50
do you want any changes regarding the position of the gif?

[2020-10-05 08:11] tarunnsingh commented on #50
@harshalkaigaonkar also please see the header on mobile devices, actually the logo gets hidden. If the Blogs Button is moved within an expandable menu when on smaller screens, the Main Logo will appear fully.![Screenshot_2020-10-05-13-40-52-774_com.android.chrome.jpg](https://user-images.githubusercontent.com/31896659/95055087-6a58ae80-0710-11eb-87f3-b0ddd2bededc.jpg)

Shall create this as an issu

[2020-10-05 08:15] harshalkaigaonkar commented on #50
could you create a new issue and assign it to me

[2020-10-05 08:16] harshalkaigaonkar commented on #50
?

[2020-10-05 08:23] pawan-git7979 commented on #46
again npm start is not working, npm install somehow works, but it showing many warnings.

![Screenshot from 2020-10-05 13-52-24](https://user-images.githubusercontent.com/63632573/95056230-0931da80-0712-11eb-855f-cc59986ce6b2.png)

[2020-10-05 08:31] beatrizsmerino commented on #47
Please assign it to me

[2020-10-05 08:32] LucyBo commented on #47
Hello, Would be glad to contribute.

[2020-10-05 08:37] tarunnsingh commented on #50
Sure.

[2020-10-05 08:39] tarunnsingh commented on #50
**No not as such, it should always be center aligned as it is currently. And the GIF should animate only once when the site loads/reloads.**
Can this be done? @harshalkaigaonkar

[2020-10-05 08:42] tarunnsingh opened #51 "Fix Header on Mobile View."
On mobile devices, the logo on the header gets hidden. If the Blogs Button is moved within an expandable menu when on smaller screens, the Main Logo will appear fully!

[Screenshot_2020-10-05-13-40-52-774_com.android.chrome.jpg](https://user-images.githubusercontent.com/31896659/95055087-6a58ae80-0710-11eb-87f3-b0ddd2bededc.jpg)

[2020-10-05 08:42] tarunnsingh commented on #51
@harshalkaigaonkar ?

[2020-10-05 08:45] harshalkaigaonkar commented on #50
yeah!

[2020-10-05 08:46] harshalkaigaonkar commented on #51
yes

[2020-10-05 08:47] tarunnsingh commented on #46
@pawan-git7979 Okay let me FIX this, I'll update the README and notify you here. You can then start your work.

[2020-10-05 08:49] pawan-git7979 commented on #46
okay thanks brother.
i will work on this , plss don't assign this to anyone, its a request.

[2020-10-05 10:43] #50 closed, assigned to harshalkaigaonkar

[2020-10-05 10:54] tarunnsingh commented on #47
Hey @beatrizsmerino @LucyBo We can have 2 loaders as we would need them in several places in coming future. So I'm
assigning to both. Revert here if you find any issues.

[2020-10-05 11:00] beatrizsmerino commented on #47
Great, I'm going to try to create a gif with the nine icon that appears in the video.
Do you need a.gif file or can you make a loader with html and css?

[2020-10-05 11:05] tarunnsingh commented on #47
Its better to have a loader made of HTML CSS, so that we can customise it when putting anywhere.

[2020-10-05 12:05] LucyBo commented on #47
I'm glad to hear. @beatrizsmerino can you specify exactly which shape/effect you are going to create? Or what second of the movie does it appear?

[2020-10-05 12:16] beatrizsmerino commented on #47
if I give you a link where I am doing tests. And when I have it I'll pass it on to you in files on github.
[https://codepen.io/beatrizsmerino/pen/zYBOGBO?editors=1100](https://codepen.io/beatrizsmerino/pen/zYBOGBO?editors=1100)

[2020-10-05 14:08] tarunnsingh commented on #46
Hey @pawan-git7979 Give it a try now, taking reference from the README.

[2020-10-05 14:09] tarunnsingh commented on #46
Also, fetch the code again.

[2020-10-05 14:47] harshalkaigaonkar commented on #51
Actually do you want github icon and login button in the header too in mobile view?

[2020-10-05 14:49] tarunnsingh commented on #51
It's better to also put them in the expandable menu in mobile view.

[2020-10-05 14:50] harshalkaigaonkar commented on #51
yeah so we want header to show a toggle button and main logo gif in between?

[2020-10-05 17:55] tarunnsingh commented on #51
Yes Exactly

[2020-10-05 18:28] tarunnsingh opened #54 "Create Footer for the Website. [INCLUDE MAPS]"
### Requirement 👇🏼
Create a **Footer for the Website**. Include a MAP in it. We have around 17 points on the map to be marked. The Map should be pointed around Rajasthan, India.

![image](https://user-images.githubusercontent.com/31896659/95117182-c568c080-0765-11eb-9e4f-e141c539122d.png)

### Take Note: 📝
- It is Mobile Friendly.
- Uses Material UI for any third party components.

#### Before ask

[2020-10-05 18:33] tarunnsingh opened #55 "Change FONT"
### Requirement 👇🏼
The font of the website needs to be changes to variations of Regular, Bold, Italic of **[Amazon Ember](https://www.onlinewebfonts.com/download/157c6cc36dd65b1b2adc9e7f3329c761)**.

![image](https://user-images.githubusercontent.com/31896659/95117988-175e1600-0767-11eb-8691-363ce819e5bc.png)

## Try to Make CHANGES TO theme.js only.

[2020-10-05 18:35] #55 closed, assigned to nobody

[2020-10-05 19:04] aastha621 commented on #54
I can help, pls give me the access to the repo

[2020-10-05 19:24] mayank commented on #54
I will do this. Assign it to me.

[2020-10-06 07:30] TheGiraffe commented on #19
I'll definitely keep the CodePen link up, though as promised I also have an HTML file for the animation that I generated as well - with the sass compiled into regular css, plus some other formats (.gif .mov .mp4) of the animation included in the folder if useful. One of the benefits of the file version I made is that the font loads a lot better than the CodePen version, because the font is local r

[2020-10-06 07:40] tarunnsingh commented on #19
That would actually be pretty useful, as you can see we have deployed your logo live. And mostly that lag is seen while loading. Please add your files in **alexa-community-jaipur/client/src/static/logo** and make a PR.
Thanks!

[2020-10-06 08:11] mayank commented on #54
@tarunnsingh can you share some details for the footer, like labels/links. Also, share the list of points for the map.

[2020-10-06 10:00] tarunnsingh commented on #54
Hey @mayank can you please share your email, I'll share a Google Doc with the relevant info.

[2020-10-06 10:21] mayank commented on #54
Sure, send it at nitb.scholar@gmail.com

[2020-10-06 10:21] mayank commented on #54
Sure, send it at nitb.scholar@gmail.com

[2020-10-06 10:24] tarunnsingh commented on #54
I have shared it, please check your mail.

[2020-10-06 15:50] tarunnsingh commented on #19
Hey @lakshit123456789 , Sorry I missed out this message. As this task was already assigned, would you like to work on a similar issue. Let me know here. 😄

[2020-10-06 15:56] #19 closed, assigned to TheGiraffe, ManojAthreya

[2020-10-06 16:34] pawan-git7979 commented on #46
bro, again i  m facing the issue. getting the error in **_process.on_** line
![Screenshot from 2020-10-06 21-57-52](https://user-images.githubusercontent.com/63632573/95230270-49cb4a00-081f-11eb-8f70-1076207255db.png)

[2020-10-06 17:04] tarunnsingh commented on #46
@imabp Can you give some insights here too?

[2020-10-06 17:15] tarunnsingh commented on #51
So @harshalkaigaonkar did things work out?

[2020-10-06 18:53] imabp commented on #46
@pawan-git7979
Lets get with a fresh installation completely.
Before doing that, just check it out, that everything okay and updated for your linux distros, specially node version and npm .
**Node version should be latest LTS 12.18.4**

If you are working on frontend

[code]

If you are working on backend

First you need to setup the devkeys and mongodb uri stuff, as mentioned on readme
This runs

[2020-10-07 00:59] pawan-git7979 commented on #46
My node version is v3.3.1

[2020-10-07 03:59] harshalkaigaonkar commented on #51
yes actually i am trying to fix the issue

[2020-10-07 04:00] harshalkaigaonkar commented on #51
but material Ui is not supporting custom css

[2020-10-07 05:01] tarunnsingh commented on #46
@pawan-git7979
You havent updateted node since a long time man, I am using **node v12.16.3**.
**Follow these steps to update node on Linux:**
### Using Ubuntu
curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
sudo apt-get install -y nodejs

[2020-10-07 05:29] tarunnsingh commented on #51
@harshalkaigaonkar
Did you check the new elements of header under sec/client/static/logo ? A GIF is there maybe that will work and we also have CSS in it too.

[2020-10-07 07:12] harshalkaigaonkar commented on #51
did package.json is not on the project?

[2020-10-07 07:13] harshalkaigaonkar commented on #51
Actually development server is not starting

[2020-10-07 07:43] tarunnsingh opened #60 "Use PreLoader Animation (Already Created) before the Site Loads"
### Requirement 👇🏼
Run the index.html to see the various loaders available, under client/src/static/loader/index.html.

### Any one of these shall appear before the site loads up.

[2020-10-07 07:44] tarunnsingh commented on #51
Have you seen the README which mentions the different steps to work. For you, go in the client folder and run npm start.

[2020-10-07 08:18] hvsio commented on #60
would like to take it! Could you assign me? :)

[2020-10-07 09:02] tarunnsingh commented on #60
Sure! Assigned.
Please make sure you are able to run the client side locally (Mentioned in the README).

[2020-10-07 12:11] aditi-singh25 commented on #46
Hi @tarunnsingh , I have created the login page and have run the application locally also. But I am facing problem in embedding animated logo in that. If you could help me out.

[2020-10-07 12:44] tarunnsingh commented on #46
Hey @aditi-singh25 That sounds great! We have updated some logo files, you can use the GIF (inside src/client/static/logo) instead of animated LOGO. Or if you are facing any other problem, please elaborate here.

[2020-10-07 12:46] imabp opened #62 "Added Cors to v1-Deployment"
Image fetching is blocked by client due to cors policy

[2020-10-07 12:46] imabp commented on #62
PR #61  fixes this

[2020-10-07 12:51] aditi-singh25 commented on #46
Sure, will embed gif there. Also one more thing, to link that login page I have to use react router. Would it be fine, or you have some other ways to link that login page?

[2020-10-07 12:51] imabp opened #63 "Discussion Topic: Multiple Terminal (Frontend and backend"
@tarunnsingh I was working for a solution for it.

We dont need to do any stashing anymore.

Here is the solution

Clone the two branches in separate folder
using command

## For backend

[code]

## For Frontend

[code]

I think we should add this Branch Cloning to Docs

[2020-10-07 12:52] imabp commented on #63
What you say @tarunnsingh . Is this good idea for now ?

[2020-10-07 12:54] imabp commented on #46
Developers Update:

Clone the two branches in two separate folders
using following command

## For Backend

[code]

## For Frontend

[code]

This will help you to work independently

[2020-10-07 17:41] stellaharmony commented on #60
@tarunnsingh
Is the issue is still open can you assign it to me?

[2020-10-07 17:54] tarunnsingh commented on #63
Yes @imabp doing it this way is the only way which I told in #40 comments.
Nevertheless let's go with this arrangement, till we find a better fix.

Do you want to add this to Docs or shall I do it?

[2020-10-07 17:58] tarunnsingh commented on #60
@mbhole1857 It has been assigned as of now, keep track we have many issues coming in :grinning:

[2020-10-07 17:58] tarunnsingh commented on #46
react router is fine.

[2020-10-07 18:04] tarunnsingh commented on #62
@imabp
This dosen't work, was trying it locally also. Merged #61 as I too had the same setup locally.
The way to fix this is to make axios/fetch requests from client. Actually the requests are not following the cors-anywhere path. That needs to be fixed and we are done. Moreover the links in the blogs-posts (which are actually inside markdown files) also need to be changed manually :confused: as o

[2020-10-07 20:19] imabp commented on #63
@tarunnsingh better if you put this to docs thing. I am checking the client side axios now

[2020-10-08 06:27] tarunnsingh commented on #63
Okay then

[2020-10-08 08:11] tarunnsingh commented on #63
Added #64

[2020-10-08 08:15] tarunnsingh commented on #47
@LucyBo are you still working on it, although @beatrizsmerino has provided the content, it would be great to have your content added in too. We would definitely use them in future.
Please let us know, in case you aren't working on this issue. ✌🏼

[2020-10-08 08:17] tarunnsingh commented on #46
Assigning this to @aditi-singh25. @pawan-git7979 if you got it working locally, let me know we have more stuff for you.

[2020-10-08 08:19] tarunnsingh commented on #51
@harshalkaigaonkar can you post some ScreenShots of the error you are getting.

[2020-10-08 08:20] tarunnsingh commented on #54
@mayank any progress on this?

[2020-10-08 08:21] pawan-git7979 commented on #46
I have try almost everything..but the version of node is not upgrading in Linux...i am using the Linux first time..nd i have installed it just 1 week before.. before that i had been using windows.

[2020-10-08 08:22] tarunnsingh commented on #46
Why don't you comletely uninstall it and install it again

[2020-10-08 08:42] LucyBo commented on #47
@tarunnsingh I'm working on it.  I just need a little bit more time.

[2020-10-08 08:54] imabp commented on #46
@pawan-git7979 I recommend to get familiar with Linux, if you are using it for first time,  because you need to install a bunch of packages to make it ready for development. I say, if your primary development platform is windows, then go for windows if you want to contribute without any breaking changes in the application.

Anyways that's a personal choice, Windows or Linux ?

Here is how you can

[2020-10-08 10:04] tarunnsingh commented on #47
Sure @LucyBo take your time.

[2020-10-08 15:54] hvsio commented on #60
sorry I'm not having much time these days, feel free to assign some other person :)

[2020-10-08 17:24] imabp commented on #63
@tarunnsingh I have implemented the full Axios setup and had to put some modularity too. bit changes in project structure plus.
Its working fine.

But there is an issue, the image is still not sent by server. There is something in the backend part only which is obstructing it. Because front end part everything is getting fine.

[2020-10-08 17:24] imabp commented on #63
Will send the PR regarding Axios setup soon
After giving final touches.

[2020-10-08 17:57] imabp commented on #63
@tarunnsingh dont merge any pr until i send this  pr .. because i have done some major changes.

[2020-10-08 18:15] tarunnsingh commented on #60
@mbhole1857 Want to work on this?

[2020-10-08 18:16] tarunnsingh commented on #63
Let me check.

[2020-10-08 18:16] tarunnsingh commented on #63
okay sure

[2020-10-08 21:48] imabp opened #68 "Cleaning the codebase."
# Current State looks non modular
![image](https://user-images.githubusercontent.com/53480076/95517022-d6bc0200-09dd-11eb-9f27-7f1833200989.png)

# After Cleaning ( PR #67 )

![image](https://user-images.githubusercontent.com/53480076/95517114-0408b000-09de-11eb-9dc0-2f275ba04a7b.png)

[2020-10-08 21:49] imabp commented on #68
@tarunnsingh I have finally cleaned the codebase and its working fine. On deployment. #67

Hope its fine. ? .😊😊

[2020-10-08 21:59] imabp commented on #63
@tarunnsingh  This is making things not work.

We need to send get request to  `api/posts/images/:imageName` which image we want to fetch. One more hook, we need then I think so.. 😥

![image](https://user-images.githubusercontent.com/53480076/95517870-804fc300-09df-11eb-94e4-c72581e45e10.png)

[2020-10-08 22:02] imabp commented on #63
@tarunnsingh pls can you make all my PRs which are merged labelled as `hacktoberfest-accepted`.

Because they are not counted until and unless you put that label

![image](https://user-images.githubusercontent.com/53480076/95518113-ff44fb80-09df-11eb-824d-61ad696a7169.png)

[2020-10-08 22:07] imabp commented on #2
I think I have created something like this earlier here you can check at my GitHub profile https://github.com/imabp , its named as Markdown_Blog in pinned repos

[2020-10-09 07:29] tarunnsingh commented on #63
Yes this needs to be setup the same way as you made setup to fetch the blogposts (markdowns).
I was working on it locally too.

[2020-10-09 07:30] tarunnsingh commented on #63
But I think if they are merged then they should be counted.
It has to be ONE of the 3 options.
Still Ill put up the labels if you say so.

[2020-10-09 07:32] tarunnsingh commented on #68
That was much required. ThankS!

[2020-10-09 07:34] tarunnsingh commented on #2
Great I'll see to it

[2020-10-09 09:08] #68 closed, assigned to nobody

[2020-10-09 10:39] imabp commented on #63
@tarunnsingh Yes it showed a question mark on my PR on Hacktoberfest portal, but after you labelled, the question mark was gone.

Thank you @tarunnsingh  for such an overwhelming gratitude you said in that PR. I am obliged.

Here are final PRs which fixes image fetching completely  #70  #71 and also  pls label this PR too #69

[2020-10-09 14:18] #62 closed, assigned to nobody

[2020-10-09 15:03] imabp commented on #63
@tarunnsingh I dont know what is going on here in this code. I am fetching the image correctly. The markdown images are being displayed properly no issues with that. But on those featured posts, it is not showing.

I am fetching from this link:
http://alexadevhub.herokuapp.com/api/posts/images/events/upcomingevent.png

But it is not displaying on the site
![image](https://user-images.githubusercon

[2020-10-09 15:06] tarunnsingh commented on #63
Ya I saw that, let it be as such for now, I'll be making some more updates in coming days, including this one too.

[2020-10-09 16:40] imabp commented on #63
Fine only those two images are having the issue, rest everything is fine.

[2020-10-11 11:31] beatrizsmerino commented on #51
Hi!! I can try fix this issue?
Please assign me :)

[2020-10-11 11:46] beatrizsmerino commented on #51
![image](https://user-images.githubusercontent.com/14045148/95678118-c7e67280-0bca-11eb-81ab-35a266e35430.png)
![image](https://user-images.githubusercontent.com/14045148/95677732-d717f100-0bc7-11eb-80f6-6ee48fa7fffe.png)

I understand that the problem may be this:
The text that accompanies the type logo is too large and overlaps with the other elements. I advise leaving only the logo to make it a

[2020-10-11 11:59] beatrizsmerino commented on #51
![image](https://user-images.githubusercontent.com/14045148/95677981-afc22380-0bc9-11eb-9e8e-70e796590b21.png)
![image](https://user-images.githubusercontent.com/14045148/95678024-f6b01900-0bc9-11eb-8af3-d5b803509328.png)

[2020-10-11 12:54] tarunnsingh commented on #51
Hey! @beatrizsmerino that's exactly the solution.

[2020-10-11 16:32] beatrizsmerino commented on #51
Hey! it is fixed, tell me if all it is ok :)

[2020-10-12 13:39] #51 closed, assigned to beatrizsmerino

[2020-10-12 13:40] tarunnsingh commented on #46
@aditi-singh25 Any Progress?

[2020-10-13 04:40] aditi-singh25 commented on #46
I am so sorry, actually my laptop had some problem and that's why I have to
format it all. All the progress is lost. Please assign to someone else.
Apologies for the inconvenience.

On Mon, 12 Oct 2020, 7:11 pm Tarun Singh, <notifications@github.com> wrote:

[2020-10-17 09:01] namrataaaa commented on #60
Hi, @tarunnsingh I have started working on this issue. I have been able to locally run the app and also use a preLoader provided by react and it all works perfectly. But I know that I am supposed to use the custom animations already created. I have run the index.html file in the loader and there are some really beautiful animations there. But I am having trouble to understand how I am going to use

[2020-10-18 14:15] tarunnsingh commented on #60
Hey @namrataaaa,
I am a bit engaged lately, however animating SVGs in React is a bit tricky. Even I haven't tried it yet.
You could give a **PR** with the default preLoader functionality as you said. So that at least we would have the components and flow ready.

Then we could later learn and figure out how to animate the SVGs in React properly.
Maybe using [Framer Motion](https://www.youtube.com/w

[2020-10-19 09:32] namrataaaa commented on #60
@tarunnsingh I went through a lot of resources including the ones you provided. But I still couldn't figure it out. I/m trying and hope to succeed. As you mentioned, I could make a PR using any one of the loaders from [here](https://mhnpd.github.io/react-loader-spinner/?spm=a2c6h.14275010.0.0.5fd17c81LLbMBx) or [here](https://vamosgs.github.io/react-preloaders/). I basically just installed the pac

[2020-10-19 14:23] tarunnsingh commented on #60
@namrataaaa In [this](https://mhnpd.github.io/react-loader-spinner/?spm=a2c6h.14275010.0.0.5fd17c81LLbMBx), 4th in the second row looks good! If you could twitch it's color a bit to match with that of the site's logo, then it would be great!.

Also if you could put up another loader before the blog posts section loads, it would be another feature.
I could create a new issue on that and assign that

[2020-10-24 06:04] sujitIwale commented on #46
is it open ?can you assign it to me?

[2020-10-24 06:37] imabp commented on #46
@sujitIwale do you want to work on backend (auth Setup) or frontend (auth UI) ,

If backend, please clone the `v1-deployment` branch only
If frontend, please clone the  `master` branch.

[2020-10-24 06:43] sujitIwale commented on #46
I want to work on frontend.

[2020-10-24 06:48] sujitIwale commented on #46
assign it to me.

[2020-10-24 07:05] sujitIwale commented on #46
I am using react-router-dom for login page

[2020-10-24 08:28] tarunnsingh commented on #46
@sujitIwale Most of the work is already done, if you want to make some more changes /additions see the **auth-setup-backend and auth-setup-frontend branches**. And let me know what more additions can you make on this.

[2020-10-24 08:29] imabp commented on #46
@tarunnsingh is back !!
Welcome brother :D 👏👏👏

[2020-10-24 12:52] sujitIwale commented on #46
can I add home button on login and register page which redirects user to home screen?

[2020-10-24 12:53] tarunnsingh commented on #46
Hey @imabp 😄
No no bro! I did this work a few days back, still not getting time for github work.

[2020-10-24 12:54] tarunnsingh commented on #46
@sujitIwale
The Community-Logo is already there on the login pages, just add a link to home on those logos. That would work 👍🏼

[2020-10-24 12:56] tarunnsingh commented on #46
@imabp Needed help on this. The access_token (the cookie) is not getting stored in the browser when logged in, could you please look into it, this is pending from quite a few days now.

[2020-10-24 12:56] tarunnsingh commented on #46
@sujitIwale
Could you design a user-profile page?

[2020-10-24 14:24] sujitIwale commented on #46
could you make it an issue?

[2020-10-24 14:35] imabp commented on #46
@tarunnsingh
Yea sure, after few days, I will be active here.

[2020-10-24 14:40] imabp opened #76 "Design an user profile page"
Issue reference: #46

Should be assigned to @sujitlwale by @tarunnsingh

_Originally posted by @sujitIwale in https://github.com/alexa-dev-hub/alexa-community-jaipur/issues/46#issuecomment-715922338_

[2020-10-24 17:42] tarunnsingh commented on #76
@sujitIwale
Please work and give PR on **auth-setup-frontend**.

[2020-10-24 17:46] tarunnsingh commented on #47
Closing since done #56
And no further constructive updates were made.

[2020-10-24 17:47] #47 closed, assigned to beatrizsmerino, LucyBo

[2020-10-24 17:48] tarunnsingh commented on #54
@mayank let me know had any updates on this

[2020-10-24 17:49] tarunnsingh commented on #46
Comment on #76 to be assigned

[2020-10-24 17:49] tarunnsingh commented on #46
Sure Thanks!!